In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/City_bike(JC)')

In [10]:
path_2017 = ["data/JC-201701-citibike-tripdata.csv","data/JC-201702-citibike-tripdata.csv","data/JC-201703-citibike-tripdata.csv",
    "data/JC-201704-citibike-tripdata.csv", "data/JC-201705-citibike-tripdata.csv", "data/JC-201706-citibike-tripdata.csv",
    "data/JC-201707-citibike-tripdata.csv", "data/JC-20178 citibike-tripdata.csv", "data/JC-201709-citibike-tripdata.csv",
    "data/JC-201710-citibike-tripdata.csv", "data/JC-201711-citibike-tripdata.csv", "data/JC-201712-citibike-tripdata.csv"]

In [3]:
path_2018 = ["data/JC-201801-citibike-tripdata.csv","data/JC-201802-citibike-tripdata.csv","data/JC-201803-citibike-tripdata.csv",
    "data/JC-201804-citibike-tripdata.csv", "data/JC-201805-citibike-tripdata.csv", "data/JC-201806-citibike-tripdata.csv",
    "data/JC-201807-citibike-tripdata.csv", "data/JC-201808-citibike-tripdata.csv", "data/JC-201809-citibike-tripdata.csv",
    "data/JC-201810-citibike-tripdata.csv", "data/JC-201811-citibike-tripdata.csv", "data/JC-201812-citibike-tripdata.csv"]

In [4]:
path_2019 = ["data/JC-201901-citibike-tripdata.csv","data/JC-201902-citibike-tripdata.csv","data/JC-201903-citibike-tripdata.csv",
    "data/JC-201904-citibike-tripdata.csv", "data/JC-201905-citibike-tripdata.csv", "data/JC-201906-citibike-tripdata.csv",
    "data/JC-201907-citibike-tripdata.csv", "data/JC-201908-citibike-tripdata.csv", "data/JC-201909-citibike-tripdata.csv",
    "data/JC-201910-citibike-tripdata.csv", "data/JC-201911-citibike-tripdata.csv", "data/JC-201912-citibike-tripdata.csv"]

function to Clean and Prepare data before April 2017

In [5]:
def clean_data_old(path,year):
    df = pd.read_csv(path)
    
# Drop all rows with null values
    df = df.dropna(how = 'any')

# Convert trip duration to minute
    df['Trip Duration']=df['Trip Duration']/60
    df['Trip Duration']=df['Trip Duration'].astype('int')

# Calculate age using birth year
    df['Age']=year-df['Birth Year']
    df['Age']=df['Age'].astype('int')

# Split Start Time to year,month,day,time 
    new = df['Start Time'].str.split("-", n=-1, expand=True)
    df['Year'] = new[0]
    df['Month'] = new[1]
    df['Other'] = new[2]
    new = df['Other'].str.split("-", n=-1, expand=True)   
    df['Day']=new[0]
    df['Start Time']=new[1]
                            
#take only stop time from 'Stop Time'
    new=df['Stop Time'].str.split("-", n=-1, expand=True)
    df['Stop Time']=new[1]
                              
#drop all unnecessary columns
    df.drop(columns =["Birth Year", "Other"], inplace = True) 
                              
#set the right order of columns
    df=df[['Year', 'Month', 'Day', 'Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 
       'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name',
        'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type', 'Gender', 'Age']]
    df=df.rename(columns={'Year':'year', 'Month':'month', 'Day':'day', 'Trip Duration':'tripduration', 'Start Time':'starttime', 
                         'Stop Time':'stoptime', 'Start Station ID':'start station id', 'Start Station Name':'start station name',
                           'Start Station Latitude':'start station latitude', 'Start Station Longitude':'start station longitude',
                          'End Station ID':'end station id', 'End Station Name':'end station name','End Station Latitude':'end station latitude',
                          'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype', 'Gender':'gender',
                          'Age':'age'})
    return df

##function to clean and prepare data from after April 2017 (including April)

In [3]:
def clean_data(path, year):
    df=pd.read_csv(path)
    #drop all rows with null values
    df=df.dropna(how='any')
    #convert trip duration to minutes
    df['tripduration']=df['tripduration']/60
    df['tripduration']=df['tripduration'].astype('int')
    #calculate age using birth year
    df['age']=year-df['birth year']
    df['age']=df['age'].astype('int')
    #split 'Start Time' to year, month, day and time
    new=df['starttime'].str.split("-", n=-1, expand=True)
    df['year']=new[0]
    df['month']=new[1]
    df['other']=new[2]
    new=df['other'].str.split(" ", n=-1, expand=True)
    df['day']=new[0]
    df['starttime']=new[1]
    #take only stop time from 'Stop Time'
    new=df['stoptime'].str.split(" ", n=-1, expand=True)
    df['stoptime']=new[1]
    #drop all unnecessary columns
    df.drop(columns =["birth year", "other"], inplace = True)
    #set the right order of columns
    df=df[['year', 'month', 'day', 'tripduration', 'starttime', 'stoptime', 'start station id',
        'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'gender', 'age']]
        
    
        
    return df

In [4]:
#function to clean and prepare data from before April 2017
def clean_data_old(path, year):
    df=pd.read_csv(path)
    #drop all rows with null values
    df=df.dropna(how='any')
    #convert trip duration to minutes
    df['Trip Duration']=df['Trip Duration']/60
    df['Trip Duration']=df['Trip Duration'].astype('int')
    #calculate age using birth year
    df['Age']=year-df['Birth Year']
    df['Age']=df['Age'].astype('int')
    #split 'Start Time' to year, month, day and time
    new=df['Start Time'].str.split("-", n=-1, expand=True)
    df['Year']=new[0]
    df['Month']=new[1]
    df['Other']=new[2]
    new=df['Other'].str.split(" ", n=-1, expand=True)
    df['Day']=new[0]
    df['Start Time']=new[1]
    #take only stop time from 'Stop Time'
    new=df['Stop Time'].str.split(" ", n=-1, expand=True)
    df['Stop Time']=new[1]
    #drop all unnecessary columns
    df.drop(columns =["Birth Year", "Other"], inplace = True) 
    #set the right order of columns
    df=df[['Year', 'Month', 'Day', 'Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 
       'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name',
      'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type', 'Gender', 'Age']]
    df=df.rename(columns={'Year':'year', 'Month':'month', 'Day':'day', 'Trip Duration':'tripduration', 'Start Time':'starttime', 
                       'Stop Time':'stoptime', 'Start Station ID':'start station id', 'Start Station Name':'start station name',
                       'Start Station Latitude':'start station latitude', 'Start Station Longitude':'start station longitude',
                       'End Station ID':'end station id', 'End Station Name':'end station name','End Station Latitude':'end station latitude', 
                       'End Station Longitude':'end station longitude', 'Bike ID':'bikeid', 'User Type':'usertype', 'Gender':'gender',
                       'Age':'age'})
    return df

In [12]:
for i in range(0, 3):
    print(i)
    df=clean_data_old(path_2017[i], 2017)
    df.to_sql('citibike', engine, if_exists='append')

0
1
2

In [11]:
#rest of 2017
for i in range(3, 12):
    print(i)
    df=clean_data(path_2017[i], 2017)
    df.to_sql('citibike', engine, if_exists='append')

3
4
5
6
7
8
9
10
11

In [7]:
for i in range(0,12):   
    print(i)
    df = clean_data(path_2018[i],2018)
    df.to_sql('citibike',engine, if_exists='append')

0
1
2
3
4
5
6
7
8
9
10
11

In [8]:
for i in range(0,12):   
    print(i)
    df = clean_data(path_2019[i],2019)
    df.to_sql('citibike',engine, if_exists='append')

0
1
2
3
4
5
6
7
8
9
10
11

## 2020

In [5]:
for i in range(0,2):
    print(i)
    df = clean_data(path_2020[i],2020)
    df.to_sql('citibike2020',engine, if_exists='append')

0
1